<div class="cart-container-{{ section.id }}">

{% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th>ITEM</th>
        <th>VARIANT</th>
        <th>QTY</th>
        <th></th>
        <th>TOTAL</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.variant.url }}">{{ item.variant.product.title }}</a>
            </td>
            <td>
            {% if item.variant.title != "Default Title" %}
              <a href="{{ item.url }}">{{ item.variant.title }}</a>
            {% endif %}
            </td>
            <td>
              <span class="quantity-decrement{% if item.quantity == 1 %} disabled{% endif %}">-</span>
              <span class="quantity-display" data-line-item-id="{{ item.key }}">{{ item.quantity }}</span>
              <span class="quantity-increment">+</span>
            </td>
            <td class="cart-remove remove-item-button" data-line-item-id="{{ item.key }}">
              <a>Remove</a>
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="subtotal">
      <p>Sub Total : {{ cart.total_price | money_without_currency }} AU + Shipping</p>
      <button type="submit" name="checkout">CHECKOUT</button>
    </div>
  </form>
  
{% else %}

  <div class="cart-empty">
    Cart is empty
  </div>
  
{% endif %}

</div>

<script>

function removeItemFromCart(lineItemId) {
  fetch('/cart/update.js', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      updates: {
        [lineItemId]: 0
      }
    })
  })
  .then(response => response.json())
  .then(cart => {
    console.log("Item removed:", cart);
    window.location.reload();
  })
  .catch(error => {
    console.error("Error removing item:", error);
  });
};

function incrementItem(lineItemId) {
  const currentQuantity = parseInt(document.querySelector(`.quantity-display[data-line-item-id="${lineItemId}"]`).textContent);
  updateCart(lineItemId, currentQuantity + 1);
}

function decrementItem(lineItemId) {
  const button = document.querySelector(`.quantity-decrement[data-line-item-id="${lineItemId}"]`);
  if (button && button.classList.contains('disabled')) {
    return;
  }

  const currentQuantity = parseInt(document.querySelector(`.quantity-display[data-line-item-id="${lineItemId}"]`).textContent);
  if (currentQuantity > 1) {
    updateCart(lineItemId, currentQuantity - 1);
  } else {
    removeItemFromCart(lineItemId);
  }
}

function updateCart(lineItemId, newQuantity) {
  fetch('/cart/update.js', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      updates: {
        [lineItemId]: newQuantity
      }
    })
  })
  .then(response => response.json())
  .then(cart => {
    console.log("Cart updated:", cart);
    window.location.reload();
  })
  .catch(error => {
    console.error("Error updating cart:", error);
  });
}

document.addEventListener('DOMContentLoaded', function() {
  const removeButtons = document.querySelectorAll('.remove-item-button');
  removeButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
      const lineItemId = event.currentTarget.getAttribute('data-line-item-id');
      removeItemFromCart(lineItemId);
      button.innerHTML = "Removing ...";
    });
  });

  const incrementButtons = document.querySelectorAll('.quantity-increment');
  incrementButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
      const lineItemId = event.currentTarget.closest('tr').querySelector('.remove-item-button').getAttribute('data-line-item-id');
      incrementItem(lineItemId);
    });
  });

  const decrementButtons = document.querySelectorAll('.quantity-decrement');
  decrementButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
      const lineItemId = event.currentTarget.closest('tr').querySelector('.remove-item-button').getAttribute('data-line-item-id');
      decrementItem(lineItemId);
    });
  });
});

  
</script>

{% style %}
.cart-container-{{ section.id }} {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    width:96vw;
  }
}

.cart-container-{{ section.id }} td {
  background-color: {{settings.color-scheme-button-bg}};
  color:{{settings.color-scheme-button-text}};
  box-sizing: border-box;
  padding:1em;
  width:15vw;
  text-align: center;
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    width:19vw;
  }
}

.cart-container-{{ section.id }} .subtotal {
  text-align: center;
  color: {{settings.color-scheme-text}};
}

.cart-container-{{ section.id }} button {
  background-color: {{settings.color-scheme-button-bg}};
  border: none;
  color: {{settings.color-scheme-button-text}};
  font-family: var(--font-body-family);
  font-weight:500;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  cursor: pointer;
  letter-spacing: var(--font-body-spacing);
}
.cart-container-{{ section.id }} button:hover {
  background-color:white;
  color:{{settings.color-scheme-text}};
}
.remove-item-button {
  cursor:pointer;
  z-index:2;
}

.quantity-increment,
.quantity-decrement {
  cursor: pointer;
  user-select: none;
}

.quantity-decrement.disabled {
  opacity: 0;
  cursor: default;
}
{% endstyle %}