  <div class="product-page-container-{{ section.id }}">

       
    {% if product.images.size > 1 %}
      <div id="modalButtons" class="modal-buttons-{{ section.id }}">  
        <div class="modal-change-{{ section.id }}" onclick="plusSlides(-1, 0)">
          <svg height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.91 122.88" style="enable-background:new 0 0 66.91 122.88" xml:space="preserve">
            <g>
              <path d="M64.96,111.2c2.65,2.73,2.59,7.08-0.13,9.73c-2.73,2.65-7.08,2.59-9.73-0.14L1.97,66.01l4.93-4.8l-4.95,4.8 c-2.65-2.74-2.59-7.1,0.15-9.76c0.08-0.08,0.16-0.15,0.24-0.22L55.1,2.09c2.65-2.73,7-2.79,9.73-0.14 c2.73,2.65,2.78,7.01,0.13,9.73L16.5,61.23L64.96,111.2L64.96,111.2L64.96,111.2z"/>
            </g>
          </svg> 
        </div>
        <div class="modal-change-{{ section.id }}" onclick="plusSlides(1, 0)">
          <svg height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.91 122.88" style="enable-background:new 0 0 66.91 122.88" xml:space="preserve">
            <g>
              <path d="M1.95,111.2c-2.65,2.72-2.59,7.08,0.14,9.73c2.72,2.65,7.08,2.59,9.73-0.14L64.94,66l-4.93-4.79l4.95,4.8 c2.65-2.74,2.59-7.11-0.15-9.76c-0.08-0.08-0.16-0.15-0.24-0.22L11.81,2.09c-2.65-2.73-7-2.79-9.73-0.14 C-0.64,4.6-0.7,8.95,1.95,11.68l48.46,49.55L1.95,111.2L1.95,111.2L1.95,111.2z"/>  
            </g>
          </svg>
        </div>
      </div>
    {% endif %}
    <div id="imageModal" class="modal selectDisable">
      <img class="modal-content" id="imgModalSrc">
    </div> 
    <div id="modalClose" class="modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 -960 960 960"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224z"/></svg>
    </div>
    
    <div class="slideshow-container-{{ section.id }} selectDisable">
      
      <div id="imageToggle" class="toggle-image-{{ section.id }}">

        {% if product.images.size > 1 %}
          <div class="slideshow-change-{{ section.id }}" onclick="plusSlides(-1, 0)">
            <svg height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.91 122.88" style="enable-background:new 0 0 66.91 122.88" xml:space="preserve">
              <g>
                <path d="M64.96,111.2c2.65,2.73,2.59,7.08-0.13,9.73c-2.73,2.65-7.08,2.59-9.73-0.14L1.97,66.01l4.93-4.8l-4.95,4.8 c-2.65-2.74-2.59-7.1,0.15-9.76c0.08-0.08,0.16-0.15,0.24-0.22L55.1,2.09c2.65-2.73,7-2.79,9.73-0.14 c2.73,2.65,2.78,7.01,0.13,9.73L16.5,61.23L64.96,111.2L64.96,111.2L64.96,111.2z"/>
              </g>
            </svg> 
          </div>
        {% endif %}
        
        {% for image in product.images %}
          <img class="product-image-{{ section.id }}" src="{{ image.src | image_url: width: 1080 }}" onclick="modalExpand({{ forloop.index }})" >
        {% endfor %}

        {% if product.images.size > 1 %}
          <div class="slideshow-change-{{ section.id }}" onclick="plusSlides(1, 0)">
            <svg height="10px" width="10px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 66.91 122.88" style="enable-background:new 0 0 66.91 122.88" xml:space="preserve">
              <g>
                <path d="M1.95,111.2c-2.65,2.72-2.59,7.08,0.14,9.73c2.72,2.65,7.08,2.59,9.73-0.14L64.94,66l-4.93-4.79l4.95,4.8 c2.65-2.74,2.59-7.11-0.15-9.76c-0.08-0.08-0.16-0.15-0.24-0.22L11.81,2.09c-2.65-2.73-7-2.79-9.73-0.14 C-0.64,4.6-0.7,8.95,1.95,11.68l48.46,49.55L1.95,111.2L1.95,111.2L1.95,111.2z"/>  
              </g>
            </svg>
          </div>
        {% endif %}
        
      </div>
    </div>

    <div class="information-container-{{ section.id }}">
      
      <div class="information-element-{{ section.id }} text-center">{{ product.title }}</div>
      <div class="information-element-{{ section.id }}">{{ product.description }}</div>

      <div class="information-element-{{ section.id }} text-center product-variant-dropdown-{{ section.id }}">
        {%- unless product.has_only_default_variant -%}
              <label for="ProductSelect-option-{{ forloop.index0 }}">
                Variant
                </label>
                <select class="VariantSelect" id="ProductSelect-{{ forloop.index0 }}" data-index="option{{ forloop.index }}" onchange="updateVariant()">
                  {% for variant in product.variants %}
                  <option value="{{ variant.id | escape }}">
                      {{ variant.title | escape }}
                  </option>
                  {% endfor %}
                </select>
        {%- endunless -%}
      </div>
      
      <div class="information-element-{{ section.id }} text-center" >
        {% if product.available %}  
          {{ product.price | money_without_currency }} $
        {% else %}
          Sold Out
        {% endif %}</div>
      <br>
      <div class="information-element-{{ section.id }} text-center">
        {% if product.available %}  
          <a>
            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
            <form method="post" action="/cart/add" target="dummyframe" onsubmit="processForm();return false">
              <input name="id" id="checkoutButton" value="{{ product.first_available_variant.id }}" type="hidden" />
              <br>
              <input class="product-add-button-{{ section.id }}" name="add" value="ADD TO CART" type="submit"/>
            </form>
            </a>
        {% else %}
        {% endif %}
      </div>

    </div>
    
  </div>

{% style %}

.product-page-container-{{ section.id }} {
  position:absolute;
  margin:0;
  padding:0;
  width:100vw;
  height:95vh;
  bottom:0;
  left:0;
  overflow:scroll;
  -ms-overflow-style:none;
  scrollbar-width:none;
  display:flex;
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    flex-wrap:wrap;
    height:100vh;
    top:0;
    width:auto;
    padding-top:5em;
  }
}
.product-page-container-{{ section.id }}::-webkit-scrollbar {
  display: none;
}
.slideshow-container-{{ section.id }} {
  flex: 0 1 50%;
  max-width:50vw;
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
      flex: 0 1 100%;
      max-width:100vw;
  }
}
.toggle-image-{{ section.id }} {
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    cursor:zoom-in;
}
.product-image-{{ section.id }} {
    height:{{ section.settings.image-scale }}%;
    flex: 0 1 50%;
    width:auto;
    object-fit:cover;
    aspect-ratio:2/3;
    box-sizing:border-box;
}
.product-image-{{ section.id }}:nth-child(n){
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
      width:100%;
    }
}
.slideshow-change-{{ section.id }} {
  flex: 0 1 20%;
  box-sizing:border-box;
  z-index:2;
  text-align:center;
  padding: 10% 0 10% 0;
  touch-action: manipulation;
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
     flex: 0 1 20% 
  }
}
.slideshow-change-{{ section.id }}:hover {
  cursor:pointer;
}
.information-container-{{ section.id }} {
  flex: 0 1 50%;
  height:100%;
  width:100%;
  box-sizing:border-box;
  padding:2em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:2em;
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
      flex: 0 1 100%;
      justify-content:flex-start;
      height:70%;
  }
}
.information-element-{{ section.id }} {
  width:50%;
  color:{{settings.color-scheme-color-scheme-text}};
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    width:80%;
  }
}
.text-center {
  text-align:center;
}
.product-add-button-{{ section.id }}{
  border:0;
  border-radius:0;
  padding:0;
  margin:0;
  font-size:95%;
  box-sizing:border-box;
  font-family: var(--font-body-family);
  font-weight:500;
  background-color:{{settings.color-scheme-button-bg}};
  color:{{settings.color-scheme-button-text}};
  letter-spacing: var(--font-body-spacing);
}
.product-add-button-{{ section.id }}:hover{
  background-color:white;
  color:{{settings.color-scheme-text}};
  cursor:pointer
}
.product-variant-dropdown-{{ section.id }} {
  display:flex;
  flex-direction:column;
  gap:0.5em;
  width:20%;
}
.product-variant-dropdown-{{ section.id }} select {
  border:0;
  border-radius:0;
  padding:0;
  margin:0;
  font-size:95%;
  box-sizing:border-box;
  font-family: var(--font-body-family);
  font-weight:500;
  background-color:{{settings.color-scheme-button-bg}};
  color:{{settings.color-scheme-button-text}};
  letter-spacing: var(--font-body-spacing);
}
.modal {
  display: none;
  position: fixed;
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow:scroll;
  justify-content:center;
  align-items:center;
  background-color: rgb(255,255,255);
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  cursor:zoom-out;
}
.modal-content {
  position:fixed;
  display: block;
  top:0;
  left:0;
  width: 100vw;
  height:auto;
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    max-width:100vw;
    height:auto;
  }
}
.modal-buttons-{{ section.id }} {
  position:fixed;
  top:0;
  display:none;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  width:100vw;
  height:100vh;
  z-index:4;
}
.modal-change-{{ section.id }} {
  flex: 0 0 50%;
  border:1px solid red;
  box-sizing:border-box;
  text-align:center;
  padding: 10% 0;
  touch-action: manipulation;
  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
     flex: 0 1 20% 
  }
}
.modal-close {
  display: none;
  position:fixed;
  top:2em;
  right:2em;
  z-index:4;
  font-size:120%;
  pointer-events:none;
  cursor:pointer;
}
  
{% endstyle %}

<script>

  var modal = document.getElementById("imageModal");
  var modalClose = document.getElementById("modalClose");
  var modalButtons = document.getElementById("modalButtons");
  var img = document.getElementsByClassName("product-image-{{ section.id }}");
  var modalImg = document.getElementById("imgModalSrc");
  function modalExpand(i){
    i-=1;
    modal.style.display = "flex";
    modalClose.style.display = "block";  
    modalButtons.style.display = "flex";  
    modalImg.src = img[i].src;
  };
  function modalCollapse(){
    modal.style.display = "none";
    modalClose.style.display = "none";
    modalButtons.style.display = "none";
  };
  modalImg.onclick = function() {
    modalCollapse();
  };
  const variantList = document.querySelectorAll('.VariantSelect')
  function updateVariant() {
    var checkoutButton = document.getElementById('checkoutButton')
    var variantSelected = variantList[0].value;
    checkoutButton.setAttribute("value", variantSelected);
  };
  var url = window.location.search;
  var urlParams = new URLSearchParams(url);
  var variantUrl = urlParams.get('variant');
  if (variantUrl === 'undefined' || variantUrl === null) {
  } else {
    variantList[0].value = variantUrl;
  };
  var slideIndex = [1, 1, 1, 1, 1, 1, 1, 1, 1];
  showSlides(1, 0);
  function plusSlides(n, slideshowIndex) {
    showSlides(slideIndex[slideshowIndex] += n, slideshowIndex);
  };
  function showSlides(n, slideshowIndex) {
    var i;
    var slides = document.getElementsByClassName("product-image-{{ section.id }}");
    if (n > slides.length) {
      slideIndex[slideshowIndex] = 1;
    };
    if (n < 1) {
      slideIndex[slideshowIndex] = slides.length;
    };
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    };
    slides[slideIndex[slideshowIndex] - 1].style.display = "flex";
    modalImg.src = slides[slideIndex[slideshowIndex] - 1].src;
  };
  document.onkeydown = checkKey;
  function checkKey(e) {
    e = e || window.event;
    if (e.keyCode == 37) {
       plusSlides(-1,0);
    }
    else if (e.keyCode == 39) {
       plusSlides(1,0);
    }
    else if (e.keyCode == 27) {
      modalCollapse();
    }
  };
  document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.querySelectorAll('.product-add-button-{{ section.id }}');
    addButton.forEach(function(button) {
      button.addEventListener('click', function(event) {
        button.value = "Adding ...";
        setTimeout(() => {
          window.location.reload();
        }, 1000);
      });
    });
  });
  
</script>

{% schema %}
  {
    "name": "Product Page",
    "settings": [
      {
        "type": "range",
        "id": "image-scale",
        "label": "Image Scale",
        "min": 50,
        "max": 95,
        "step": 1,
        "default": 85
      }
    ]
  }
{% endschema %}